<div id="topDiv">


    <mat-toolbar>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Sudoku</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button (click)="newGame()">
            <mat-icon>refresh</mat-icon>
        </button>
        <!-- <button mat-icon-button  >
        <mat-icon>share</mat-icon>
    </button> -->
    </mat-toolbar>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="newGame()">
            <mat-icon>refresh</mat-icon>
            <span>New Game</span>
        </button>
        <!-- <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
        </button> -->
        <button mat-menu-item (click)="openSettings()">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
    </mat-menu>

</div>

<div id="mainDiv">
<app-board id="board" [board]="board" (onCellSelected)="setupSelectedCell($event)"></app-board>
<app-keyboard [board]="board" [keys]="keys"></app-keyboard>
</div>

<footer></footer>