table {
    border: 5px solid;
    margin: auto;
    width: 90vw;    
}

tr {
    height: 7vh;
    text-align: center;
}

tr:nth-child(3), tr:nth-child(6) {
    td {
        // border: 2px solid orange;
        // margin-bottom: 1px;
        border-bottom: 1px solid;
    }
}
tr:nth-child(4), tr:nth-child(7) {
    td {
        // border: 2px solid orange;
        // margin-bottom: 1px;
        border-top: 1px solid;
    }
}


td:nth-child(3), td:nth-child(6) {
    // border: 2px solid orange;
    // margin-bottom: 1px;
    border-right: 1px solid;
}

td:nth-child(4), td:nth-child(7) {
    // border: 2px solid orange;
    // margin-bottom: 1px;
    border-left: 1px solid;
}



//Not USED!!
#boardDiv {
    border: 5px solid;
    margin: auto;
    width: 90vw;
    display: grid;    
    grid-template-columns: auto auto auto;
}

#innerBoardDiv {
    border: 2px solid;
    margin: 0;
    width: 100%;
    display: grid;
    // align-content: space-evenly;
    // justify-content: space-around;
    // align-items: stretch;
    justify-items: stretch;
    // grid-template-columns: auto auto auto;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 3fr 3fr;

}

//END Not USED!!



#cellDiv {
    display: grid;
    border: 1px solid gray;
    margin: 0;
    text-align: center;       
    height: 7vh;
    align-items: center;
    font-size: x-large;    
}


.cellGenerated {
    //background-color: bisque;
    //background-color: mat.get-theme-color($theme, primary, 50);
    font-weight: bolder;
}