@use '@angular/material' as mat;
@use './app/board/board.component-theme' as board;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    // theme-type: dark,
    primary: mat.$rose-palette,
    tertiary: mat.$red-palette,
  )
));

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    @include mat.all-component-themes($theme);
    @include board.theme($theme);
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);


